secrets.py

esp8266/wifi.py
esp8266/umqtt_robust.py
esp8266/wemos/d1mini/oled.py
esp8266/wemos/d1mini/pinmap.py
esp8266/wemos/d1mini/status_led.py

home_assistant/main.py
home_assistant/sensor.py
home_assistant/binary_sensor.py
home_assistant/binary_sensors/connectivity.py
home_assistant/binary_sensors/problem.py
home_assistant/sensors/signal_strength.py
home_assistant/sensors/temperature.py

